body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.web-logo {
  color: #4d5ae5;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #4d5ae5;
}

.nav-list a {
  font-weight: 500;
}

.address a:hover,
.address a:focus {
  color: #4d5ae5;
}

.address {
  font-style: normal;
}

.title-section {
  background-color: #2e2f42;
}

.title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.header-2 {
  font-size: 36px;
  font-weight: 700;
}

.header-3 {
  font-size: 20px;
  font-weight: 500;
}

.team-section {
  background-color: #f4f4fd;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
